/include/ "system-conf.dtsi"
/ {

	gt_pll: gt_pll@a40a0000 {
			reg = <0x0 0xa40a0000 0x0 0x10000>;
	};
	gt_ctrl_common: gt_ctrl_common@a4060000 {
			reg = <0x0 0xa4060000 0x0 0x40000>;
	};
	
	/delete-node/ gt_quad_base@a4010000;
	/delete-node/ gpio@a4060000;
	/delete-node/ gpio@a4070000;
	/delete-node/ gpio@a4080000;
	/delete-node/ gpio@a4090000;
	/delete-node/ gpio@a40a0000;
		
};

&amba {
        zyxclmm_drm {
                compatible = "xlnx,zocl-versal";
        };
};


&Four_MCDMA_axi_mcdma_0{
    compatible = "xlnx,axi-mcdma-1.1";
    xlnx,addrwidth = <0x20>;
    xlnx,include-dre;
};

&Four_MCDMA_axi_mcdma_1{
    compatible = "xlnx,axi-mcdma-1.1";
    xlnx,addrwidth = <0x20>;
    xlnx,include-dre;
};

&Four_MCDMA_axi_mcdma_2{
    compatible = "xlnx,axi-mcdma-1.1";
    xlnx,addrwidth = <0x20>;
    xlnx,include-dre;
};

&Four_MCDMA_axi_mcdma_3{
    compatible = "xlnx,axi-mcdma-1.1";
    xlnx,addrwidth = <0x20>;
    xlnx,include-dre;
};

&mrmac_0_core {
    axistream-connected = <&Four_MCDMA_axi_mcdma_2>;
    xlnx,mrmac-rate = <25000>;
    xlnx,num-queues = /bits/ 16 <0x1>;
    xlnx,gtpll = <&gt_pll>;
    local-mac-address = [00 0a 35 00 00 00];
    xlnx,channel-ids = "1";
    xlnx,gtctrl = <&gt_ctrl_common>;
    xlnx,addrwidth = <0x20>;
};

&mrmac_0_core_1 {

    axistream-connected = <&Four_MCDMA_axi_mcdma_0>;
    xlnx,mrmac-rate = <25000>;
    xlnx,num-queues = /bits/ 16 <0x1>;
    xlnx,gtpll = <&gt_pll>;
    xlnx,channel-ids = "1";
    local-mac-address = [00 0a 35 00 00 01];
    xlnx,gtctrl = <&gt_ctrl_common>;
    xlnx,addrwidth = <0x20>;
};

&mrmac_0_core_2 {
    axistream-connected = <&Four_MCDMA_axi_mcdma_1>;
    xlnx,mrmac-rate = <25000>;
    xlnx,num-queues = /bits/ 16 <0x1>;
    xlnx,gtpll = <&gt_pll>;
    local-mac-address = [00 0a 35 00 00 02];
    xlnx,channel-ids = "1";
    xlnx,gtctrl = <&gt_ctrl_common>;
    xlnx,addrwidth = <0x20>;
};

&mrmac_0_core_3 {
    axistream-connected = <&Four_MCDMA_axi_mcdma_3>;
    xlnx,mrmac-rate = <25000>;
    xlnx,num-queues = /bits/ 16 <0x1>;
    xlnx,gtpll = <&gt_pll>;
    xlnx,channel-ids = "1";
    local-mac-address = [00 0a 35 00 00 03];
    xlnx,gtctrl = <&gt_ctrl_common>;
    xlnx,addrwidth = <0x20>;
};


&i2c1{
		      tca9548@74 {
			      	compatible = "nxp,pca9548";
				#pinctrl-names = "default";
				#address-cells = <0x1>;
				#size-cells = <0x0>;
			      	reg = <0x74>;
				#i2c-mux-idle-disconnect;



			      i2c@7 {
					#address-cells = <0x1>;
					#size-cells = <0x0>;
				      	reg = <0x7>;



				      phc@5b {
					      compatible = "idt,8a34001";
					      reg = <0x5b>;
				      };
			      };
		      };
	      };




	


