[Unit]
Description=system_controller_app
After=rpm-autoload.service xsdb.service

[Service]
Type=forking
ExecStart=/usr/bin/system_controller.sh
StandardOutput=journal+console

[Install]
WantedBy=multi-user.target
