/include/ "system-conf.dtsi"
/ {
};

&dcmac_and_gt_dcmac_0_core {
    xlnx,gt-ch0-rx-user-data-width-c0 = <0x50>;
    xlnx,gt-mode-0 = "NRZ";
    xlnx,gt-ch0-rx-user-data-width-c1 = <0x50>;
    xlnx,gt-mode-1 = "PAM4";
    xlnx,mac-port5-enable-c0 = <0x00>;
    xlnx,gt-mode-2 = "PAM4";
    xlnx,mac-port5-enable-c1 = <0x01>;
    xlnx,gt-mode-3 = "PAM4";
    xlnx,mac-port0-rx-etype-gcp-c0 = <0x8808>;
    xlnx,mac-port5-tx-sa-gpp-c0 = <0x00>;
    xlnx,gt-mode-4 = "PAM4";
    xlnx,mac-port0-rx-etype-gcp-c1 = <0x8808>;
    xlnx,mac-port5-tx-sa-gpp-c1 = <0x00>;
    xlnx,mac-port2-rx-etype-gcp-c0 = <0x8808>;
    xlnx,gt-ch0-tx-int-data-width-c0 = <0x50>;
    xlnx,mac-port1-rx-flow-c0 = <0x00>;
    xlnx,mac-port2-rx-etype-gcp-c1 = <0x8808>;
    xlnx,gt-ch0-tx-int-data-width-c1 = <0x50>;
    xlnx,mac-port4-rx-etype-gcp-c0 = <0x8808>;
    xlnx,mac-port3-tx-insert-c0 = <0x00>;
    xlnx,mac-port1-rx-flow-c1 = <0x00>;
    xlnx,mac-port4-rx-etype-gcp-c1 = <0x8808>;
    xlnx,mac-port3-tx-insert-c1 = <0x01>;
    xlnx,mac-port2-tx-ethertype-ppp-c0 = <0x8808>;
    xlnx,gt-ch1-txprogdiv-freq-val-c0 = <0x266ac338>;
    xlnx,mac-port2-tx-ethertype-ppp-c1 = <0x8808>;
    xlnx,gt-ch1-txprogdiv-freq-val-c1 = <0x266ac338>;
    xlnx,gt-ch2-rx-data-decoding-c0 = "RAW";
    xlnx,port5-1588v2-operation-mode-c0 = "No , operation";
    xlnx,gt-ch2-rx-data-decoding-c1 = "RAW";
    xlnx,diffclk-board-interface = "Custom";
    xlnx,port5-1588v2-operation-mode-c1 = "No , operation";
    xlnx,oth-pcs-port0-config3-c0 = "N/A";
    xlnx,mac-port4-tx-sa-ppp-c0 = <0x00>;
    xlnx,oth-pcs-port0-config3-c1 = "100CAUI-4";
    xlnx,mac-port4-tx-sa-ppp-c1 = <0x00>;
    xlnx,mac-port4-rx-pause-da-ucast-c0 = <0x00>;
    xlnx,mac-port4-rx-pause-da-ucast-c1 = <0x00>;
    xlnx,mac-port0-rx-opcode-min-pcp-c0 = <0x00>;
    xlnx,mac-port0-rx-opcode-min-pcp-c1 = <0x00>;
    xlnx,overclocking = <0x00>;
    xlnx,mac-port3-preemption-c0 = <0x00>;
    xlnx,mac-port2-rx-opcode-max-pcp-c0 = <0xffff>;
    xlnx,mac-port3-preemption-c1 = <0x00>;
    xlnx,mac-port2-rx-opcode-max-pcp-c1 = <0xffff>;
    xlnx,gt-ch0-tx-pll-type-c0 = "LCPLL";
    xlnx,mac-port0-tx-opcode-ppp-c0 = <0x101>;
    xlnx,gt-ch0-tx-pll-type-c1 = "LCPLL";
    xlnx,oth-pcs-port2-config4-c0 = "N/A";
    xlnx,mac-port0-tx-opcode-ppp-c1 = <0x101>;
    xlnx,mac-port2-tx-ethertype-gpp-c0 = <0x8808>;
    xlnx,oth-pcs-port2-config4-c1 = "100CAUI-4";
    xlnx,mac-port4-config-c0 = "N/A";
    xlnx,mac-port2-tx-ethertype-gpp-c1 = <0x8808>;
    xlnx,num-gt-channels-port0 = <0x04>;
    xlnx,mac-port4-config-c1 = "N/A";
    xlnx,num-gt-channels-port1 = <0x00>;
    xlnx,num-gt-channels-port2 = <0x00>;
    xlnx,mac-port4-tx-sa-gpp-c0 = <0x00>;
    xlnx,num-gt-channels-port3 = <0x00>;
    xlnx,mac-port4-tx-sa-gpp-c1 = <0x00>;
    xlnx,num-gt-channels-port4 = <0x00>;
    xlnx,mac-port3-rx-pause-da-mcast-c0 = <0x180 0xc2000001>;
    xlnx,num-gt-channels-port5 = <0x00>;
    xlnx,port0-1588v2-operation-mode-c0 = "2-step";
    xlnx,mac-port3-rx-pause-da-mcast-c1 = <0x180 0xc2000001>;
    xlnx,mac-port2-tx-insert-c0 = <0x00>;
    xlnx,gt-ch2-rx-outclk-source-c0 = "RXPROGDIVCLK";
    xlnx,port2-1588v2-clocking-c0 = "Ordinary/Boundary , Clock";
    xlnx,port0-1588v2-operation-mode-c1 = "No , operation";
    xlnx,mac-port2-tx-insert-c1 = <0x01>;
    xlnx,mac-port0-rx-opcode-min-gcp-c0 = <0x00>;
    xlnx,mac-port2-rx-flow-c0 = <0x00>;
    xlnx,gt-ch2-txprogdiv-freq-source-c0 = "LCPLL";
    xlnx,gt-ch2-rx-outclk-source-c1 = "RXPROGDIVCLK";
    xlnx,port2-1588v2-clocking-c1 = "Ordinary/Boundary , Clock";
    xlnx,mac-port0-rx-opcode-min-gcp-c1 = <0x00>;
    xlnx,mac-port2-rx-flow-c1 = <0x00>;
    xlnx,gt-ch2-txprogdiv-freq-source-c1 = "LCPLL";
    xlnx,mac-port0-rx-etype-ppp-c0 = <0x8808>;
    xlnx,mac-port0-rx-etype-ppp-c1 = <0x8808>;
    xlnx,gt-drp-clk-c0 = <0x64>;
    xlnx,mac-port3-tx-sa-ppp-c0 = <0x00>;
    xlnx,gt-mode-dyn = "MIX";
    xlnx,mac-port2-rx-etype-ppp-c0 = <0x8808>;
    xlnx,mac-port2-rx-opcode-max-gcp-c0 = <0xffff>;
    xlnx,gt-drp-clk-c1 = <0x64>;
    xlnx,gt-ch2-tx-user-data-width-c0 = <0x50>;
    xlnx,mac-port3-tx-sa-ppp-c1 = <0x00>;
    xlnx,mac-port2-rx-etype-ppp-c1 = <0x8808>;
    xlnx,mac-port2-rx-opcode-max-gcp-c1 = <0xffff>;
    xlnx,gt-ch2-tx-user-data-width-c1 = <0x50>;
    xlnx,oth-pcs-port1-config3-c0 = "N/A";
    xlnx,mac-port4-rx-etype-ppp-c0 = <0x8808>;
    xlnx,mac-port0-tx-opcode-gpp-c0 = <0x01>;
    xlnx,oth-pcs-port1-config3-c1 = "100CAUI-4";
    xlnx,mac-port5-tx-da-ppp-c0 = <0x180 0xc2000001>;
    xlnx,mac-port4-rx-etype-ppp-c1 = <0x8808>;
    xlnx,mac-port0-tx-opcode-gpp-c1 = <0x01>;
    xlnx,gt-ch3-txprogdiv-freq-enable-c0;
    xlnx,mac-port5-tx-da-ppp-c1 = <0x180 0xc2000001>;
    xlnx,gt-ch3-txprogdiv-freq-enable-c1;
    xlnx,mac-port2-tx-opcode-ppp-c0 = <0x101>;
    xlnx,mac-port5-rx-pause-sa-c0 = <0x00>;
    xlnx,mac-port3-tx-ethertype-ppp-c0 = <0x8808>;
    xlnx,mac-port2-tx-opcode-ppp-c1 = <0x101>;
    xlnx,mac-port5-rx-pause-sa-c1 = <0x00>;
    xlnx,gt-ch1-rx-buffer-mode-c0 = <0x01>;
    xlnx,port5-1588v2-clocking-c0 = "Ordinary/Boundary , Clock";
    xlnx,mac-port3-tx-ethertype-ppp-c1 = <0x8808>;
    xlnx,gt-ch1-rx-buffer-mode-c1 = <0x01>;
    xlnx,port5-1588v2-clocking-c1 = "Ordinary/Boundary , Clock";
    xlnx,gt-ch3-rx-data-decoding-c0 = "RAW";
    xlnx,gt-ch1-tx-buffer-mode-c0 = <0x01>;
    clock-names = "rx_axi_clk\0rx_core_clk\0rx_flexif_clk\0rx_macif_clk\0s_axi_aclk\0ts_clk\0tx_axi_clk\0tx_core_clk\0tx_flexif_clk\0tx_macif_clk";
    xlnx,gt-ch3-rx-data-decoding-c1 = "RAW";
    xlnx,gt-ch1-tx-buffer-mode-c1 = <0x01>;
    xlnx,mac-port0-enable-c0 = <0x01>;
    xlnx,mac-port1-rx-opcode-ppp-c0 = <0x101>;
    xlnx,gt-ch2-rxprogdiv-freq-source-c0 = "LCPLL";
    xlnx,mac-port0-enable-c1 = <0x01>;
    xlnx,mac-port1-rx-opcode-ppp-c1 = <0x101>;
    xlnx,gtm-group-select2-c0 = "GTM_DUAL_X0Y0";
    xlnx,gt-ch2-rxprogdiv-freq-source-c1 = "LCPLL";
    xlnx,gt-ch1-tx-int-data-width-c0 = <0x50>;
    xlnx,gtm-group-select2-c1 = "GTM_DUAL_X0Y0";
    xlnx,gt-ch1-tx-int-data-width-c1 = <0x50>;
    xlnx,ethernet-board-interface = "Custom";
    xlnx,oth-pcs-port3-config4-c0 = "N/A";
    xlnx,mac-port0-rx-etype-gpp-c0 = <0x8808>;
    xlnx,oth-pcs-port3-config4-c1 = "100CAUI-4";
    xlnx,mac-port0-rx-etype-gpp-c1 = <0x8808>;
    xlnx,mac-port3-tx-sa-gpp-c0 = <0x00>;
    xlnx,mac-port2-rx-etype-gpp-c0 = <0x8808>;
    xlnx,data-rate-cfg-0 = "100G";
    xlnx,oth-pcs-port0-config2-c0 = "N/A";
    xlnx,mac-port3-tx-sa-gpp-c1 = <0x00>;
    xlnx,mac-port2-enable-time-stamping-c0 = <0x00>;
    xlnx,mac-port2-rx-etype-gpp-c1 = <0x8808>;
    xlnx,num-gt-channels-port5-con1 = <0x00>;
    xlnx,oth-pcs-port0-config2-c1 = "100CAUI-4";
    xlnx,mac-port4-rx-etype-gpp-c0 = <0x8808>;
    xlnx,mac-port2-enable-time-stamping-c1 = <0x00>;
    xlnx,num-gt-channels-port5-con2 = <0x00>;
    xlnx,gt-ch3-rxprogdiv-freq-enable-c0;
    xlnx,mac-port5-tx-da-gpp-c0 = <0x180 0xc2000001>;
    xlnx,mac-port4-rx-etype-gpp-c1 = <0x8808>;
    xlnx,mac-port1-tx-insert-c0 = <0x00>;
    xlnx,num-gt-channels-port5-con3 = <0x00>;
    xlnx,gt-ch3-rxprogdiv-freq-enable-c1;
    xlnx,mac-port5-tx-da-gpp-c1 = <0x180 0xc2000001>;
    xlnx,mac-port1-tx-insert-c1 = <0x01>;
    xlnx,num-gt-channels-port5-con4 = <0x00>;
    xlnx,phy-operating-mode-c0 = "N/A";
    xlnx,mac-port5-rx-pause-da-ucast-c0 = <0x00>;
    xlnx,mac-port2-tx-opcode-gpp-c0 = <0x01>;
    xlnx,gt-ch3-tx-refclk-frequency-c0 = <0x9502f90>;
    xlnx,gt-ch2-rxprogdiv-freq-val-c0 = <0x266ac338>;
    xlnx,gt-ch0-tx-line-rate-c0 = <0x9d5b34>;
    xlnx,mac-port5-rx-pause-da-ucast-c1 = <0x00>;
    xlnx,mac-port3-tx-ethertype-gpp-c0 = <0x8808>;
    xlnx,mac-port3-rx-flow-c0 = <0x00>;
    xlnx,mac-port2-tx-opcode-gpp-c1 = <0x01>;
    xlnx,num-gt-channels-port2-con1 = <0x00>;
    xlnx,gt-ch3-tx-refclk-frequency-c1 = <0x9502f90>;
    xlnx,gt-ch2-rxprogdiv-freq-val-c1 = <0x266ac338>;
    xlnx,gt-ch0-tx-line-rate-c1 = <0x9d5b34>;
    xlnx,mac-port3-tx-ethertype-gpp-c1 = <0x8808>;
    xlnx,mac-port3-rx-flow-c1 = <0x00>;
    xlnx,mac-port1-rx-opcode-min-pcp-c0 = <0x00>;
    xlnx,num-gt-channels-port2-con2 = <0x00>;
    xlnx,gt-ch2-tx-line-rate-c0 = <0x9d5b34>;
    xlnx,mac-port4-tx-opcode-ppp-c0 = <0x101>;
    xlnx,mac-port2-tx-sa-ppp-c0 = <0x00>;
    xlnx,mac-port1-rx-opcode-min-pcp-c1 = <0x00>;
    xlnx,num-gt-channels-port2-con3 = <0x00>;
    xlnx,gt-ch2-tx-line-rate-c1 = <0x9d5b34>;
    xlnx,mac-port4-tx-opcode-ppp-c1 = <0x101>;
    xlnx,mac-port2-tx-sa-ppp-c1 = <0x00>;
    xlnx,num-gt-channels-port2-con4 = <0x00>;
    xlnx,mac-port1-rx-opcode-gpp-c0 = <0x01>;
    xlnx,mac-port4-tx-da-ppp-c0 = <0x180 0xc2000001>;
    xlnx,mac-port3-rx-opcode-max-pcp-c0 = <0xffff>;
    xlnx,mac-port1-rx-opcode-gpp-c1 = <0x01>;
    xlnx,oth-pcs-port2-config3-c0 = "N/A";
    xlnx,mac-port4-tx-da-ppp-c1 = <0x180 0xc2000001>;
    xlnx,mac-port3-rx-opcode-max-pcp-c1 = <0xffff>;
    xlnx,gt-ch2-tx-refclk-frequency-c0 = <0x9502f90>;
    xlnx,oth-pcs-port2-config3-c1 = "100CAUI-4";
    xlnx,mac-port3-rx-opcode-ppp-c0 = <0x101>;
    xlnx,gt-ch3-rx-outclk-source-c0 = "RXPROGDIVCLK";
    xlnx,gt-ch2-tx-refclk-frequency-c1 = <0x9502f90>;
    xlnx,mac-port3-rx-opcode-ppp-c1 = <0x101>;
    xlnx,gt-ch3-tx-pll-type-c0 = "LCPLL";
    xlnx,gt-ch3-rx-outclk-source-c1 = "RXPROGDIVCLK";
    xlnx,gt-ch3-tx-pll-type-c1 = "LCPLL";
    xlnx,gt-ch0-tx-user-data-width-c0 = <0x50>;
    xlnx,port4-1588v2-operation-mode-c0 = "No , operation";
    xlnx,gt-ch0-tx-user-data-width-c1 = <0x50>;
    xlnx,port4-1588v2-operation-mode-c1 = "No , operation";
    xlnx,mac-port5-rx-strip-c0 = <0x00>;
    xlnx,mac-port4-preemption-c0 = <0x00>;
    xlnx,mac-port1-rx-pause-sa-c0 = <0x00>;
    xlnx,mac-port5-rx-strip-c1 = <0x00>;
    xlnx,mac-port4-preemption-c1 = <0x00>;
    xlnx,mac-port1-rx-pause-sa-c1 = <0x00>;
    xlnx,gt-ch1-tx-refclk-frequency-c0 = <0x9502f90>;
    xlnx,mac-port4-rx-pause-da-mcast-c0 = <0x180 0xc2000001>;
    xlnx,gt-ch1-tx-refclk-frequency-c1 = <0x9502f90>;
    xlnx,mac-port4-rx-pause-da-mcast-c1 = <0x180 0xc2000001>;
    xlnx,mac-port1-rx-opcode-min-gcp-c0 = <0x00>;
    xlnx,oth-pcs-port4-config4-c0 = "N/A";
    xlnx,mac-port4-tx-opcode-gpp-c0 = <0x01>;
    xlnx,mac-port2-tx-sa-gpp-c0 = <0x00>;
    xlnx,mac-port1-rx-opcode-min-gcp-c1 = <0x00>;
    xlnx,oth-pcs-port4-config4-c1 = "100CAUI-4";
    xlnx,mac-port4-tx-opcode-gpp-c1 = <0x01>;
    xlnx,mac-port4-tx-ethertype-ppp-c0 = <0x8808>;
    xlnx,mac-port2-tx-sa-gpp-c1 = <0x00>;
    xlnx,mac-port4-tx-ethertype-ppp-c1 = <0x8808>;
    xlnx,fec-slice5-cfg-c0 = "N/A";
    xlnx,oth-pcs-port1-config2-c0 = "N/A";
    xlnx,mac-port4-tx-da-gpp-c0 = <0x180 0xc2000001>;
    xlnx,mac-port3-rx-opcode-max-gcp-c0 = <0xffff>;
    xlnx,fec-slice5-cfg-c1 = "N/A";
    xlnx,mac-port0-tx-insert-c0 = <0x01>;
    xlnx,gt-ch0-tx-refclk-frequency-c0 = <0x9502f90>;
    xlnx,oth-pcs-port1-config2-c1 = "100CAUI-4";
    xlnx,mac-port4-tx-da-gpp-c1 = <0x180 0xc2000001>;
    xlnx,mac-port3-rx-opcode-max-gcp-c1 = <0xffff>;
    xlnx,mac-port0-tx-insert-c1 = <0x01>;
    xlnx,gt-ch0-tx-refclk-frequency-c1 = <0x9502f90>;
    xlnx,mac-port3-rx-opcode-gpp-c0 = <0x01>;
    xlnx,mac-port3-rx-opcode-gpp-c1 = <0x01>;
    xlnx,mac-port2-enable-c0 = <0x00>;
    xlnx,gt-pipeline-stages = <0x00>;
    xlnx,mac-port2-enable-c1 = <0x01>;
    xlnx,mac-port5-rx-opcode-ppp-c0 = <0x101>;
    xlnx,mac-port4-rx-flow-c0 = <0x00>;
    xlnx,mac-port1-tx-sa-ppp-c0 = <0x00>;
    xlnx,mac-port5-rx-opcode-ppp-c1 = <0x101>;
    xlnx,mac-port4-rx-flow-c1 = <0x00>;
    xlnx,mac-port1-tx-sa-ppp-c1 = <0x00>;
    xlnx,gt-ch3-rx-user-data-width-c0 = <0x50>;
    xlnx,gt-ch3-rx-user-data-width-c1 = <0x50>;
    xlnx,gt-ch0-rx-int-data-width-c0 = <0x50>;
    xlnx,mac-port3-tx-da-ppp-c0 = <0x180 0xc2000001>;
    xlnx,gt-ch0-rx-int-data-width-c1 = <0x50>;
    xlnx,mac-port3-tx-da-ppp-c1 = <0x180 0xc2000001>;
    xlnx,gtm-group-select1-c0 = "GTM_DUAL_X0Y0";
    xlnx,gt-ch0-rxprogdiv-freq-val-c0 = <0x266ac338>;
    xlnx,gtm-group-select1-c1 = "GTM_DUAL_X0Y0";
    xlnx,gt-ch1-txprogdiv-freq-source-c0 = "LCPLL";
    xlnx,gt-ch1-rx-line-rate-c0 = <0x9d5b34>;
    xlnx,gt-ch0-rxprogdiv-freq-val-c1 = <0x266ac338>;
    xlnx,oth-pcs-port3-config3-c0 = "N/A";
    xlnx,include-auto-neg-lt-logic-c0 = "None";
    xlnx,gt-ch2-tx-int-data-width-c0 = <0x50>;
    xlnx,gt-ch1-txprogdiv-freq-source-c1 = "LCPLL";
    xlnx,gt-ch1-rx-line-rate-c1 = <0x9d5b34>;
    xlnx,full-density-mode = <0x00>;
    xlnx,oth-pcs-port3-config3-c1 = "100CAUI-4";
    xlnx,include-auto-neg-lt-logic-c1 = "None";
    xlnx,gt-ch3-rx-line-rate-c0 = <0x9d5b34>;
    xlnx,gt-ch2-tx-int-data-width-c1 = <0x50>;
    xlnx,gt-ch0-rx-buffer-mode-c0 = <0x01>;
    xlnx,mac-port4-tx-ethertype-gpp-c0 = <0x8808>;
    xlnx,fec-slice3-cfg-c0 = "N/A";
    xlnx,gt-ch3-rx-line-rate-c1 = <0x9d5b34>;
    xlnx,gt-ch0-rx-buffer-mode-c1 = <0x01>;
    xlnx,oth-pcs-port0-config1-c0 = "N/A";
    xlnx,mac-port4-tx-ethertype-gpp-c1 = <0x8808>;
    xlnx,fec-slice3-cfg-c1 = "N/A";
    xlnx,gt-ch0-tx-buffer-mode-c0 = <0x01>;
    xlnx,oth-pcs-port0-config1-c1 = "100CAUI-4";
    xlnx,gt-ch0-tx-buffer-mode-c1 = <0x01>;
    status = "okay";
    xlnx,num-gt-channels-con4-valid = <0x00>;
    xlnx,dcmac-clients-c0 = "N/A";
    xlnx,gt-ch2-txprogdiv-freq-enable-c0;
    xlnx,dcmac-clients-c1 = "N/A";
    xlnx,gt-ch2-txprogdiv-freq-enable-c1;
    xlnx,mac-port5-rx-opcode-gpp-c0 = <0x01>;
    xlnx,mac-port1-tx-sa-gpp-c0 = <0x00>;
    xlnx,mac-port5-rx-opcode-gpp-c1 = <0x01>;
    xlnx,mac-port1-tx-sa-gpp-c1 = <0x00>;
    xlnx,lane1-gt-loc-c0 = "X0Y0";
    xlnx,oth-pcs-port5-config4-c0 = "N/A";
    xlnx,mac-port2-rx-opcode-min-pcp-c0 = <0x00>;
    xlnx,lane1-gt-loc-c1 = "X0Y0";
    xlnx,is-board-project = <0x01>;
    xlnx,oth-pcs-port5-config4-c1 = "100CAUI-4";
    xlnx,mac-port4-rx-strip-c0 = <0x00>;
    xlnx,mac-port3-tx-da-gpp-c0 = <0x180 0xc2000001>;
    xlnx,mac-port2-rx-opcode-min-pcp-c1 = <0x00>;
    xlnx,mac-port4-rx-strip-c1 = <0x00>;
    xlnx,mac-port3-tx-da-gpp-c1 = <0x180 0xc2000001>;
    xlnx,gt-ch1-rxprogdiv-freq-source-c0 = "LCPLL";
    xlnx,oth-pcs-port2-config2-c0 = "N/A";
    xlnx,mac-port1-config-c0 = "N/A";
    xlnx,gt-ch1-rxprogdiv-freq-source-c1 = "LCPLL";
    xlnx,oth-pcs-port2-config2-c1 = "100CAUI-4";
    xlnx,mac-port4-rx-opcode-max-pcp-c0 = <0xffff>;
    xlnx,mac-port1-config-c1 = "N/A";
    xlnx,mac-port4-rx-opcode-max-pcp-c1 = <0xffff>;
    xlnx,fec-slice1-cfg-c0 = "N/A";
    xlnx,fec-slice1-cfg-c1 = "N/A";
    xlnx,mac-port0-tx-sa-ppp-c0 = <0x00>;
    xlnx,mac-port0-tx-sa-ppp-c1 = <0x00>;
    xlnx,edk-iptype = "PERIPHERAL";
    xlnx,mac-port5-rx-flow-c0 = <0x00>;
    xlnx,mac-port0-rx-pause-da-ucast-c0 = <0x00>;
    xlnx,mac-port5-tx-ethertype-ppp-c0 = <0x8808>;
    xlnx,mac-port5-rx-flow-c1 = <0x00>;
    xlnx,mac-port0-rx-pause-da-ucast-c1 = <0x00>;
    xlnx,mac-port2-tx-da-ppp-c0 = <0x180 0xc2000001>;
    xlnx,num-gt-channels-con3-valid = <0x00>;
    xlnx,gt-ch2-rxprogdiv-freq-enable-c0;
    xlnx,mac-port5-tx-ethertype-ppp-c1 = <0x8808>;
    xlnx,mac-port2-tx-da-ppp-c1 = <0x180 0xc2000001>;
    xlnx,gt-ch2-rxprogdiv-freq-enable-c1;
    xlnx,port0-1588v2-clocking-c0 = "Ordinary/Boundary , Clock";
    xlnx,port0-1588v2-clocking-c1 = "Ordinary/Boundary , Clock";
    xlnx,mac-port5-rx-pause-da-mcast-c0 = <0x180 0xc2000001>;
    xlnx,mac-port4-rx-pause-sa-c0 = <0x00>;
    xlnx,oth-pcs-port4-config3-c0 = "N/A";
    xlnx,mac-port5-rx-pause-da-mcast-c1 = <0x180 0xc2000001>;
    xlnx,mac-port4-rx-pause-sa-c1 = <0x00>;
    xlnx,gt-ch1-rx-user-data-width-c0 = <0x50>;
    xlnx,oth-pcs-port4-config3-c1 = "100CAUI-4";
    xlnx,mac-port4-enable-c0 = <0x00>;
    xlnx,mac-port2-rx-opcode-min-gcp-c0 = <0x00>;
    xlnx,gt-ch1-rx-user-data-width-c1 = <0x50>;
    xlnx,mac-port4-enable-c1 = <0x01>;
    xlnx,mac-port1-enable-time-stamping-c0 = <0x00>;
    xlnx,mac-port2-rx-opcode-min-gcp-c1 = <0x00>;
    xlnx,oth-pcs-port1-config1-c0 = "N/A";
    xlnx,mac-port1-enable-time-stamping-c1 = <0x00>;
    xlnx,oth-pcs-port1-config1-c1 = "100CAUI-4";
    xlnx,num-gt-channels-con0 = <0x04>;
    xlnx,enable-phase-fifo = <0x00>;
    xlnx,num-gt-channels-con1 = <0x00>;
    xlnx,mac-port4-rx-opcode-max-gcp-c0 = <0xffff>;
    xlnx,mac-port1-rx-etype-pcp-c0 = <0x8808>;
    xlnx,mac-port5-preemption-c0 = <0x00>;
    xlnx,num-gt-channels-con2 = <0x00>;
    xlnx,mac-port5-enable-time-stamping-c0 = <0x00>;
    xlnx,mac-port4-rx-opcode-max-gcp-c1 = <0xffff>;
    xlnx,mac-port1-rx-etype-pcp-c1 = <0x8808>;
    xlnx,mac-port5-preemption-c1 = <0x00>;
    xlnx,num-gt-channels-con3 = <0x00>;
    xlnx,mac-port5-enable-time-stamping-c1 = <0x00>;
    xlnx,mac-port3-rx-etype-pcp-c0 = <0x8808>;
    xlnx,mac-port0-tx-sa-gpp-c0 = <0x00>;
    xlnx,port3-1588v2-clocking-c0 = "Ordinary/Boundary , Clock";
    xlnx,num-gt-channels-con4 = <0x00>;
    xlnx,mac-port3-rx-etype-pcp-c1 = <0x8808>;
    xlnx,mac-port0-tx-sa-gpp-c1 = <0x00>;
    xlnx,port3-1588v2-operation-mode-c0 = "No , operation";
    xlnx,port3-1588v2-clocking-c1 = "Ordinary/Boundary , Clock";
    xlnx,mac-port5-rx-etype-pcp-c0 = <0x8808>;
    xlnx,gt-ch2-txprogdiv-freq-val-c0 = <0x266ac338>;
    xlnx,port3-1588v2-operation-mode-c1 = "No , operation";
    xlnx,mac-port5-tx-ethertype-gpp-c0 = <0x8808>;
    xlnx,mac-port5-rx-etype-pcp-c1 = <0x8808>;
    xlnx,mac-port2-tx-da-gpp-c0 = <0x180 0xc2000001>;
    xlnx,num-gt-channels-con2-valid = <0x00>;
    xlnx,gt-ch2-txprogdiv-freq-val-c1 = <0x266ac338>;
    xlnx,mac-port5-tx-ethertype-gpp-c1 = <0x8808>;
    xlnx,mac-port2-tx-da-gpp-c1 = <0x180 0xc2000001>;
    xlnx,gt-ch1-rx-int-data-width-c0 = <0x50>;
    xlnx,gt-ch1-rx-int-data-width-c1 = <0x50>;
    xlnx,oth-pcs-port3-config2-c0 = "N/A";
    xlnx,gt-ch0-tx-outclk-source-c0 = "TXPROGDIVCLK";
    xlnx,oth-pcs-port3-config2-c1 = "100CAUI-4";
    xlnx,mac-port0-tx-flow-c0 = <0x00>;
    xlnx,gt-ch0-tx-outclk-source-c1 = "TXPROGDIVCLK";
    xlnx,mac-port0-tx-flow-c1 = <0x00>;
    xlnx,mac-port0-preemption-c0 = <0x00>;
    xlnx,gt-ch3-tx-int-data-width-c0 = <0x50>;
    xlnx,mac-port0-preemption-c1 = <0x00>;
    xlnx,gt-ch3-tx-int-data-width-c1 = <0x50>;
    xlnx,mac-port3-rx-strip-c0 = <0x00>;
    xlnx,mac-port1-tx-da-ppp-c0 = <0x180 0xc2000001>;
    xlnx,mac-port3-rx-strip-c1 = <0x00>;
    xlnx,mac-port1-tx-da-ppp-c1 = <0x180 0xc2000001>;
    xlnx,mac-port1-rx-etype-gcp-c0 = <0x8808>;
    xlnx,mac-port1-rx-etype-gcp-c1 = <0x8808>;
    xlnx,mac-port3-rx-etype-gcp-c0 = <0x8808>;
    xlnx,mac-port3-rx-etype-gcp-c1 = <0x8808>;
    xlnx,mac-port3-config-c0 = "N/A";
    xlnx,gt-ch2-tx-pll-type-c0 = "LCPLL";
    xlnx,mac-port5-rx-etype-gcp-c0 = <0x8808>;
    xlnx,mac-port3-config-c1 = "N/A";
    xlnx,gt-ch2-tx-pll-type-c1 = "LCPLL";
    xlnx,oth-pcs-port5-config3-c0 = "N/A";
    xlnx,mac-port5-rx-etype-gcp-c1 = <0x8808>;
    xlnx,num-gt-channels-con1-valid = <0x00>;
    xlnx,oth-pcs-port5-config3-c1 = "100CAUI-4";
    xlnx,num-gt-channels-port4-con1 = <0x00>;
    xlnx,mac-port3-rx-opcode-min-pcp-c0 = <0x00>;
    xlnx,num-gt-channels-port4-con2 = <0x00>;
    xlnx,mac-port0-rx-pause-sa-c0 = <0x00>;
    xlnx,oth-pcs-port2-config1-c0 = "N/A";
    xlnx,mac-port3-rx-opcode-min-pcp-c1 = <0x00>;
    xlnx,num-gt-channels-port4-con3 = <0x00>;
    xlnx,mac-port0-rx-pause-sa-c1 = <0x00>;
    xlnx,gt-ch0-tx-data-encoding-c0 = "RAW";
    xlnx,oth-pcs-port2-config1-c1 = "100CAUI-4";
    xlnx,num-gt-channels-port4-con4 = <0x00>;
    xlnx,gt-ch0-txprogdiv-freq-source-c0 = "LCPLL";
    xlnx,gt-ch0-tx-data-encoding-c1 = "RAW";
    xlnx,gt-ch0-txprogdiv-freq-source-c1 = "LCPLL";
    xlnx,mac-port5-rx-opcode-max-pcp-c0 = <0xffff>;
    xlnx,num-gt-channels-port1-con1 = <0x00>;
    xlnx,mac-port5-rx-opcode-max-pcp-c1 = <0xffff>;
    compatible = "xlnx,dcmac-2.4";
    xlnx,num-gt-channels-port1-con2 = <0x00>;
    xlnx,mac-port1-tx-da-gpp-c0 = <0x180 0xc2000001>;
    xlnx,num-gt-channels-port1-con3 = <0x00>;
    xlnx,mac-port1-tx-da-gpp-c1 = <0x180 0xc2000001>;
    xlnx,num-gt-channels-port1-con4 = <0x00>;
    xlnx,mac-port1-rx-pause-da-ucast-c0 = <0x00>;
    xlnx,mac-port1-rx-pause-da-ucast-c1 = <0x00>;
    xlnx,gt-ch3-tx-user-data-width-c0 = <0x50>;
    xlnx,gt-ch1-txprogdiv-freq-enable-c0;
    xlnx,gt-ch3-tx-user-data-width-c1 = <0x50>;
    xlnx,gt-ch1-txprogdiv-freq-enable-c1;
    xlnx,oth-pcs-port4-config2-c0 = "N/A";
    xlnx,gt-ch0-txprogdiv-freq-val-c0 = <0x266ac338>;
    xlnx,oth-pcs-port4-config2-c1 = "100CAUI-4";
    xlnx,mac-port1-tx-flow-c0 = <0x00>;
    xlnx,num-gt-channels-con0-valid = <0x04>;
    xlnx,gt-ch0-txprogdiv-freq-val-c1 = <0x266ac338>;
    xlnx,mac-port0-tx-da-ppp-c0 = <0x180 0xc2000001>;
    xlnx,mac-port1-tx-flow-c1 = <0x00>;
    xlnx,mac-port3-rx-opcode-min-gcp-c0 = <0x00>;
    xlnx,mac-port0-tx-da-ppp-c1 = <0x180 0xc2000001>;
    xlnx,mac-port3-rx-opcode-min-gcp-c1 = <0x00>;
    xlnx,gt-ch0-rxprogdiv-freq-source-c0 = "LCPLL";
    xlnx,gt-ch0-rxprogdiv-freq-source-c1 = "LCPLL";
    xlnx,mac-port5-rx-opcode-max-gcp-c0 = <0xffff>;
    xlnx,mac-port5-rx-opcode-max-gcp-c1 = <0xffff>;
    xlnx,mac-port1-tx-opcode-ppp-c0 = <0x101>;
    xlnx,gt-ch1-tx-outclk-source-c0 = "TXPROGDIVCLK";
    xlnx,mac-port1-tx-opcode-ppp-c1 = <0x101>;
    xlnx,gt-ch1-tx-outclk-source-c1 = "TXPROGDIVCLK";
    xlnx,mac-port2-rx-strip-c0 = <0x00>;
    xlnx,mac-port0-rx-pause-da-mcast-c0 = <0x180 0xc2000001>;
    xlnx,mac-port1-rx-etype-ppp-c0 = <0x8808>;
    xlnx,mac-port2-rx-strip-c1 = <0x00>;
    xlnx,gt-ch1-rxprogdiv-freq-enable-c0;
    xlnx,mac-port0-rx-pause-da-mcast-c1 = <0x180 0xc2000001>;
    xlnx,mac-port1-rx-etype-ppp-c1 = <0x8808>;
    xlnx,gt-ch1-rxprogdiv-freq-enable-c1;
    xlnx,mac-port3-rx-etype-ppp-c0 = <0x8808>;
    xlnx,mac-port0-rx-opcode-ppp-c0 = <0x101>;
    xlnx,oth-pcs-port3-config1-c0 = "N/A";
    xlnx,mac-port3-rx-etype-ppp-c1 = <0x8808>;
    xlnx,mac-port0-rx-opcode-ppp-c1 = <0x101>;
    xlnx,gt-ch2-rx-int-data-width-c0 = <0x50>;
    xlnx,oth-pcs-port3-config1-c1 = "100CAUI-4";
    xlnx,mac-port5-rx-etype-ppp-c0 = <0x8808>;
    xlnx,gt-ch2-rx-int-data-width-c1 = <0x50>;
    xlnx,timestamp-clk-period-ns = <0x04>;
    xlnx,mac-port5-rx-etype-ppp-c1 = <0x8808>;
    xlnx,mac-port0-tx-da-gpp-c0 = <0x180 0xc2000001>;
    xlnx,gt-ch3-rxprogdiv-freq-val-c0 = <0x266ac338>;
    xlnx,mac-port5-config-c0 = "N/A";
    xlnx,mac-port0-tx-da-gpp-c1 = <0x180 0xc2000001>;
    xlnx,gt-ch3-rxprogdiv-freq-val-c1 = <0x266ac338>;
    xlnx,mac-port5-config-c1 = "N/A";
    xlnx,dcmac-location-c0 = "DCMAC_X0Y0";
    xlnx,dcmac-location-c1 = "N/A";
    xlnx,gt-ch1-tx-data-encoding-c0 = "RAW";
    xlnx,mac-port1-tx-opcode-gpp-c0 = <0x01>;
    xlnx,gt-ch1-tx-data-encoding-c1 = "RAW";
    xlnx,mac-port1-tx-opcode-gpp-c1 = <0x01>;
    xlnx,gt-group-select-c0 = "X0Y0";
    xlnx,port2-1588v2-operation-mode-c0 = "No , operation";
    xlnx,oth-pcs-port5-config2-c0 = "N/A";
    xlnx,gt-group-select-c1 = "X0Y0";
    xlnx,port2-1588v2-operation-mode-c1 = "No , operation";
    xlnx,oth-pcs-port5-config2-c1 = "100CAUI-4";
    xlnx,mac-port3-tx-opcode-ppp-c0 = <0x101>;
    xlnx,mac-port2-tx-flow-c0 = <0x00>;
    xlnx,mac-port0-enable-time-stamping-c0 = <0x01>;
    xlnx,mac-port1-rx-etype-gpp-c0 = <0x8808>;
    xlnx,mac-port1-preemption-c0 = <0x00>;
    xlnx,mac-port3-tx-opcode-ppp-c1 = <0x101>;
    xlnx,mac-port2-tx-flow-c1 = <0x00>;
    xlnx,mac-port0-enable-time-stamping-c1 = <0x00>;
    xlnx,mac-port1-rx-etype-gpp-c1 = <0x8808>;
    xlnx,mac-port1-preemption-c1 = <0x00>;
    xlnx,gt-ch1-tx-user-data-width-c0 = <0x50>;
    xlnx,mac-port3-rx-etype-gpp-c0 = <0x8808>;
    xlnx,mac-port0-rx-opcode-gpp-c0 = <0x01>;
    xlnx,gt-ch1-tx-user-data-width-c1 = <0x50>;
    xlnx,mac-port4-rx-opcode-min-pcp-c0 = <0x00>;
    xlnx,mac-port3-rx-etype-gpp-c1 = <0x8808>;
    xlnx,mac-port0-rx-opcode-gpp-c1 = <0x01>;
    xlnx,mac-port5-rx-etype-gpp-c0 = <0x8808>;
    xlnx,mac-port4-rx-opcode-min-pcp-c1 = <0x00>;
    xlnx,mac-port4-enable-time-stamping-c0 = <0x00>;
    xlnx,mac-port5-rx-etype-gpp-c1 = <0x8808>;
    xlnx,mac-port4-enable-time-stamping-c1 = <0x00>;
    xlnx,mac-port2-rx-opcode-ppp-c0 = <0x101>;
    xlnx,mac-port3-rx-pause-sa-c0 = <0x00>;
    xlnx,mac-port2-rx-opcode-ppp-c1 = <0x101>;
    xlnx,mac-port3-rx-pause-sa-c1 = <0x00>;
    xlnx,gt-type-c0 = "GTM";
    xlnx,gt-ch1-tx-line-rate-c0 = <0x9d5b34>;
    xlnx,gt-type-c1 = "N/A";
    xlnx,gt-ch1-tx-line-rate-c1 = <0x9d5b34>;
    xlnx,gt-ch3-tx-line-rate-c0 = <0x9d5b34>;
    xlnx,gt-ch3-tx-line-rate-c1 = <0x9d5b34>;
    xlnx,mac-port2-rx-pause-da-ucast-c0 = <0x00>;
    xlnx,dcmac-data-path-interface-c0 = "391MHz , Upto , 6 , Ports";
    xlnx,mac-port2-rx-pause-da-ucast-c1 = <0x00>;
    xlnx,oth-pcs-port4-config1-c0 = "N/A";
    xlnx,dcmac-data-path-interface-c1 = "N/A";
    xlnx,mac-port1-enable-c0 = <0x00>;
    xlnx,oth-pcs-port4-config1-c1 = "100CAUI-4";
    xlnx,mac-port1-enable-c1 = <0x01>;
    xlnx,mac-port3-tx-opcode-gpp-c0 = <0x01>;
    xlnx,mac-port1-rx-strip-c0 = <0x00>;
    xlnx,gt-ch2-tx-outclk-source-c0 = "TXPROGDIVCLK";
    xlnx,mac-port3-tx-opcode-gpp-c1 = <0x01>;
    xlnx,mac-port1-rx-strip-c1 = <0x00>;
    xlnx,gt-ch2-tx-outclk-source-c1 = "TXPROGDIVCLK";
    xlnx,mac-port0-rx-opcode-max-pcp-c0 = <0xffff>;
    xlnx,mac-port5-tx-opcode-ppp-c0 = <0x101>;
    xlnx,mac-port4-rx-opcode-min-gcp-c0 = <0x00>;
    xlnx,mac-port0-rx-opcode-max-pcp-c1 = <0xffff>;
    xlnx,mac-port5-tx-opcode-ppp-c1 = <0x101>;
    xlnx,mac-port4-rx-opcode-min-gcp-c1 = <0x00>;
    xlnx,gt-ref-clk-freq-c0 = <0x9502f90>;
    xlnx,ip-name = "dcmac";
    xlnx,mac-port2-rx-opcode-gpp-c0 = <0x01>;
    xlnx,port1-1588v2-clocking-c0 = "Ordinary/Boundary , Clock";
    xlnx,gt-ref-clk-freq-c1 = <0x9502f90>;
    xlnx,mac-port0-tx-ethertype-ppp-c0 = <0x8808>;
    xlnx,mac-port2-rx-opcode-gpp-c1 = <0x01>;
    xlnx,gt-ch1-rxprogdiv-freq-val-c0 = <0x266ac338>;
    xlnx,port1-1588v2-clocking-c1 = "Ordinary/Boundary , Clock";
    xlnx,mac-port0-tx-ethertype-ppp-c1 = <0x8808>;
    xlnx,gt-ch1-rxprogdiv-freq-val-c1 = <0x266ac338>;
    xlnx,mac-port4-rx-opcode-ppp-c0 = <0x101>;
    xlnx,gt-ch0-rx-data-decoding-c0 = "RAW";
    xlnx,mac-port4-rx-opcode-ppp-c1 = <0x101>;
    xlnx,gt-ch0-rx-data-decoding-c1 = "RAW";
    xlnx,mac-port3-tx-flow-c0 = <0x00>;
    xlnx,mac-port3-tx-flow-c1 = <0x00>;
    xlnx,mac-port1-rx-pause-da-mcast-c0 = <0x180 0xc2000001>;
    xlnx,gt-ch3-rx-buffer-mode-c0 = <0x01>;
    xlnx,gt-ch0-txprogdiv-freq-enable-c0;
    xlnx,fast-sim-mode = <0x00>;
    xlnx,mac-port1-rx-pause-da-mcast-c1 = <0x180 0xc2000001>;
    xlnx,gt-ch3-rx-buffer-mode-c1 = <0x01>;
    xlnx,gt-ch0-txprogdiv-freq-enable-c1;
    xlnx,gt-ch3-tx-buffer-mode-c0 = <0x01>;
    xlnx,gt-ch3-tx-buffer-mode-c1 = <0x01>;
    xlnx,gt-ch3-rx-int-data-width-c0 = <0x50>;
    xlnx,gt-ch2-tx-data-encoding-c0 = "RAW";
    xlnx,gt-ch1-tx-pll-type-c0 = "LCPLL";
    xlnx,gt-ch3-rx-int-data-width-c1 = <0x50>;
    xlnx,gt-ch2-tx-data-encoding-c1 = "RAW";
    xlnx,gt-ch1-tx-pll-type-c1 = "LCPLL";
    xlnx,dcmac-mode-c0 = "Coupled , MAC+PCS";
    xlnx,port4-1588v2-clocking-c0 = "Ordinary/Boundary , Clock";
    xlnx,dcmac-mode-c1 = "N/A";
    xlnx,mac-port0-rx-opcode-max-gcp-c0 = <0xffff>;
    xlnx,port4-1588v2-clocking-c1 = "Ordinary/Boundary , Clock";
    xlnx,mac-port5-tx-opcode-gpp-c0 = <0x01>;
    xlnx,fec-slice4-cfg-c0 = "N/A";
    xlnx,mac-port0-rx-opcode-max-gcp-c1 = <0xffff>;
    xlnx,mac-port5-tx-opcode-gpp-c1 = <0x01>;
    xlnx,fec-slice4-cfg-c1 = "N/A";
    xlnx,mac-port0-config-c0 = "100CAUI-4";
    xlnx,mac-port0-config-c1 = "N/A";
    xlnx,mac-port0-tx-ethertype-gpp-c0 = <0x8808>;
    xlnx,gt-ch0-rx-line-rate-c0 = <0x9d5b34>;
    xlnx,mac-port0-tx-ethertype-gpp-c1 = <0x8808>;
    xlnx,gt-ch0-rx-line-rate-c1 = <0x9d5b34>;
    xlnx,oth-pcs-port5-config1-c0 = "N/A";
    xlnx,mac-port4-rx-opcode-gpp-c0 = <0x01>;
    xlnx,gt-ch2-rx-line-rate-c0 = <0x9d5b34>;
    xlnx,oth-pcs-port5-config1-c1 = "100CAUI-4";
    xlnx,mac-port4-rx-opcode-gpp-c1 = <0x01>;
    xlnx,gt-ch2-rx-line-rate-c1 = <0x9d5b34>;
    xlnx,mac-port5-tx-insert-c0 = <0x00>;
    xlnx,gt-ch0-rxprogdiv-freq-enable-c0;
    xlnx,mac-port5-tx-insert-c1 = <0x01>;
    xlnx,gt-ch0-rxprogdiv-freq-enable-c1;
    xlnx,gt-ch0-rx-outclk-source-c0 = "RXPROGDIVCLK";
    xlnx,mac-port5-rx-opcode-min-pcp-c0 = <0x00>;
    xlnx,gt-ch0-rx-outclk-source-c1 = "RXPROGDIVCLK";
    xlnx,mac-port5-rx-opcode-min-pcp-c1 = <0x00>;
    xlnx,mac-port0-rx-strip-c0 = <0x00>;
    xlnx,mac-port3-enable-c0 = <0x00>;
    xlnx,fec-slice2-cfg-c0 = "N/A";
    xlnx,mac-port0-rx-strip-c1 = <0x00>;
    xlnx,mac-port3-enable-c1 = <0x01>;
    xlnx,fec-slice2-cfg-c1 = "N/A";
    xlnx,num-gt-channels-port3-con1 = <0x00>;
    xlnx,gt-ch3-tx-outclk-source-c0 = "TXPROGDIVCLK";
    xlnx,gt-ch2-rx-user-data-width-c0 = <0x50>;
    xlnx,num-gt-channels-port3-con2 = <0x00>;
    xlnx,mac-port2-preemption-c0 = <0x00>;
    xlnx,gt-ch3-tx-outclk-source-c1 = "TXPROGDIVCLK";
    xlnx,gt-ch2-rx-user-data-width-c1 = <0x50>;
    xlnx,mac-port4-tx-flow-c0 = <0x00>;
    xlnx,num-gt-channels-port3-con3 = <0x00>;
    xlnx,mac-port2-preemption-c1 = <0x00>;
    xlnx,mac-port4-tx-flow-c1 = <0x00>;
    xlnx,num-gt-channels-port3-con4 = <0x00>;
    xlnx,oth-pcs-port0-config4-c0 = "N/A";
    xlnx,mac-port3-rx-pause-da-ucast-c0 = <0x00>;
    xlnx,gt-ch3-rx-refclk-frequency-c0 = <0x9502f90>;
    xlnx,oth-pcs-port0-config4-c1 = "100CAUI-4";
    xlnx,mac-port3-rx-pause-da-ucast-c1 = <0x00>;
    clocks = <0x99 0x9a 0x9a 0x9a 0x75 0x41 0x9a 0x99 0x9a 0x9a 0x9a>;
    xlnx,num-gt-channels-port0-con1 = <0x00>;
    xlnx,gt-ch3-rx-refclk-frequency-c1 = <0x9502f90>;
    xlnx,port1-1588v2-operation-mode-c0 = "No , operation";
    xlnx,mac-port1-tx-ethertype-ppp-c0 = <0x8808>;
    xlnx,num-gt-channels-port0-con2 = <0x00>;
    xlnx,port1-1588v2-operation-mode-c1 = "No , operation";
    xlnx,mac-port1-tx-ethertype-ppp-c1 = <0x8808>;
    xlnx,num-gt-channels-port0-con3 = <0x00>;
    xlnx,gt-ch3-txprogdiv-freq-source-c0 = "LCPLL";
    xlnx,num-gt-channels-port0-con4 = <0x00>;
    xlnx,gt-ch3-txprogdiv-freq-source-c1 = "LCPLL";
    xlnx,gt-ch1-rx-data-decoding-c0 = "RAW";
    xlnx,dcmac-configuration-type = "Static , Configuration";
    xlnx,gt-ch3-txprogdiv-freq-val-c0 = <0x266ac338>;
    xlnx,gt-ch1-rx-data-decoding-c1 = "RAW";
    xlnx,mac-port1-rx-opcode-max-pcp-c0 = <0xffff>;
    xlnx,gt-ch3-txprogdiv-freq-val-c1 = <0x266ac338>;
    xlnx,mac-port5-rx-opcode-min-gcp-c0 = <0x00>;
    xlnx,mac-port1-rx-opcode-max-pcp-c1 = <0xffff>;
    xlnx,gt-ch2-rx-refclk-frequency-c0 = <0x9502f90>;
    xlnx,mac-port5-rx-opcode-min-gcp-c1 = <0x00>;
    xlnx,mac-port0-rx-flow-c0 = <0x00>;
    xlnx,gt-ch2-rx-refclk-frequency-c1 = <0x9502f90>;
    xlnx,fec-slice0-cfg-c0 = "RS(528) , CL91";
    xlnx,mac-port0-rx-flow-c1 = <0x00>;
    xlnx,fec-slice0-cfg-c1 = "N/A";
    xlnx,gt-ch3-tx-data-encoding-c0 = "RAW";
    xlnx,mac-port4-tx-insert-c0 = <0x00>;
    xlnx,gt-ch3-tx-data-encoding-c1 = "RAW";
    xlnx,mac-port4-tx-insert-c1 = <0x01>;
    xlnx,gt-ch1-rx-refclk-frequency-c0 = <0x9502f90>;
    xlnx,mac-port3-enable-time-stamping-c0 = <0x00>;
    xlnx,mac-port0-rx-etype-pcp-c0 = <0x8808>;
    xlnx,mac-port2-rx-pause-da-mcast-c0 = <0x180 0xc2000001>;
    xlnx,gt-ch1-rx-refclk-frequency-c1 = <0x9502f90>;
    xlnx,mac-port5-tx-sa-ppp-c0 = <0x00>;
    xlnx,mac-port3-enable-time-stamping-c1 = <0x00>;
    xlnx,mac-port0-rx-etype-pcp-c1 = <0x8808>;
    xlnx,mac-port2-rx-pause-da-mcast-c1 = <0x180 0xc2000001>;
    xlnx,mac-port5-tx-sa-ppp-c1 = <0x00>;
    xlnx,mac-port1-tx-ethertype-gpp-c0 = <0x8808>;
    xlnx,mac-port2-config-c0 = "N/A";
    xlnx,mac-port2-rx-etype-pcp-c0 = <0x8808>;
    xlnx,gt-ch3-rxprogdiv-freq-source-c0 = "LCPLL";
    xlnx,num-gt-channels = <0x04>;
    xlnx,mac-port1-tx-ethertype-gpp-c1 = <0x8808>;
    xlnx,mac-port2-config-c1 = "N/A";
    xlnx,mac-port2-rx-etype-pcp-c1 = <0x8808>;
    xlnx,gt-ch3-rxprogdiv-freq-source-c1 = "LCPLL";
    xlnx,mac-port4-rx-etype-pcp-c0 = <0x8808>;
    xlnx,mac-port4-rx-etype-pcp-c1 = <0x8808>;
    xlnx,mac-port1-rx-opcode-max-gcp-c0 = <0xffff>;
    xlnx,gt-ch2-rx-buffer-mode-c0 = <0x01>;
    xlnx,gt-ch0-rx-refclk-frequency-c0 = <0x9502f90>;
    xlnx,gt-mode-c0 = "Custom";
    xlnx,mac-port1-rx-opcode-max-gcp-c1 = <0xffff>;
    xlnx,gt-ch2-rx-buffer-mode-c1 = <0x01>;
    xlnx,gt-ch0-rx-refclk-frequency-c1 = <0x9502f90>;
    xlnx,mac-port5-tx-flow-c0 = <0x00>;
    xlnx,gt-mode-c1 = "Custom";
    xlnx,gt-ch2-tx-buffer-mode-c0 = <0x01>;
    xlnx,mac-port5-tx-flow-c1 = <0x00>;
    xlnx,mac-port2-rx-pause-sa-c0 = <0x00>;
    xlnx,gt-ch2-tx-buffer-mode-c1 = <0x01>;
    xlnx,gt-ch1-rx-outclk-source-c0 = "RXPROGDIVCLK";
    xlnx,oth-pcs-port1-config4-c0 = "N/A";
    xlnx,mac-port2-rx-pause-sa-c1 = <0x00>;
    xlnx,gt-ch1-rx-outclk-source-c1 = "RXPROGDIVCLK";
    xlnx,oth-pcs-port1-config4-c1 = "100CAUI-4";
    phandle = <0x0d>;

	phy-mode = "100gbase-r";
	xlnx,gt-mode-0 = "NRZ";
	axistream-connected = <&dataflow_0_axi_mcdma_0>;
	xlnx,num-queues = [00 01];
	xlnx,channel-ids = "1";
	interrupt-names = "mm2s_ch1_introut", "s2mm_ch1_introut";
    interrupt-parent = <&gic>;
	interrupts = < 0 92 4 0 93 4 >;
	xlnx,gtlane = <0x00000000>;
	xlnx,phcindex = <0x00000000>;
	max-speed = <0x186A0>;
	
	/* GPIO_ACTIVE_HIGH */
	gt_ctrl-gpios = <&axi_gpio_gt_ctl 0 0>, <&axi_gpio_gt_ctl 1 0>, <&axi_gpio_gt_ctl 2 0>, <&axi_gpio_gt_ctl 3 0>, <&axi_gpio_gt_ctl 4 0>, <&axi_gpio_gt_ctl 5 0>, <&axi_gpio_gt_ctl 6 0>, <&axi_gpio_gt_ctl 7 0>,
	<&axi_gpio_gt_ctl 8 0>, <&axi_gpio_gt_ctl 9 0>, <&axi_gpio_gt_ctl 10 0>, <&axi_gpio_gt_ctl 11 0>, <&axi_gpio_gt_ctl 12 0>, <&axi_gpio_gt_ctl 13 0>, <&axi_gpio_gt_ctl 14 0>, <&axi_gpio_gt_ctl 15 0>,
	<&axi_gpio_gt_ctl 16 0>, <&axi_gpio_gt_ctl 17 0>, <&axi_gpio_gt_ctl 18 0>, <&axi_gpio_gt_ctl 19 0>, <&axi_gpio_gt_ctl 20 0>, <&axi_gpio_gt_ctl 21 0>, <&axi_gpio_gt_ctl 22 0>, <&axi_gpio_gt_ctl 23 0>,
	<&axi_gpio_gt_ctl 24 0>, <&axi_gpio_gt_ctl 25 0>, <&axi_gpio_gt_ctl 26 0>, <&axi_gpio_gt_ctl 27 0>, <&axi_gpio_gt_ctl 28 0>, <&axi_gpio_gt_ctl 29 0>, <&axi_gpio_gt_ctl 30 0>, <&axi_gpio_gt_ctl 31 0>;
	
	gt_rx_dpath-gpios = <&axi_gpio_rx_datapath 0 0>, <&axi_gpio_rx_datapath 1 0>, <&axi_gpio_rx_datapath 2 0>, <&axi_gpio_rx_datapath 3 0>, <&axi_gpio_rx_datapath 4 0>, <&axi_gpio_rx_datapath 5 0>, <&axi_gpio_rx_datapath 6 0>, <&axi_gpio_rx_datapath 7 0>,
	<&axi_gpio_rx_datapath 8 0>, <&axi_gpio_rx_datapath 9 0>, <&axi_gpio_rx_datapath 10 0>, <&axi_gpio_rx_datapath 11 0>, <&axi_gpio_rx_datapath 12 0>, <&axi_gpio_rx_datapath 13 0>, <&axi_gpio_rx_datapath 14 0>, <&axi_gpio_rx_datapath 15 0>,
	<&axi_gpio_rx_datapath 16 0>, <&axi_gpio_rx_datapath 17 0>, <&axi_gpio_rx_datapath 18 0>, <&axi_gpio_rx_datapath 19 0>, <&axi_gpio_rx_datapath 20 0>, <&axi_gpio_rx_datapath 21 0>, <&axi_gpio_rx_datapath 22 0>;
	
	gt_tx_dpath-gpios = <&axi_gpio_tx_datapath 0 0>, <&axi_gpio_tx_datapath 1 0>, <&axi_gpio_tx_datapath 2 0>, <&axi_gpio_tx_datapath 3 0>, <&axi_gpio_tx_datapath 4 0>, <&axi_gpio_tx_datapath 5 0>, <&axi_gpio_tx_datapath 6 0>, <&axi_gpio_tx_datapath 7 0>,
	<&axi_gpio_tx_datapath 8 0>, <&axi_gpio_tx_datapath 9 0>, <&axi_gpio_tx_datapath 10 0>, <&axi_gpio_tx_datapath 11 0>, <&axi_gpio_tx_datapath 12 0>, <&axi_gpio_tx_datapath 13 0>, <&axi_gpio_tx_datapath 14 0>, <&axi_gpio_tx_datapath 15 0>,
	<&axi_gpio_tx_datapath 16 0>, <&axi_gpio_tx_datapath 17 0>, <&axi_gpio_tx_datapath 18 0>, <&axi_gpio_tx_datapath 19 0>, <&axi_gpio_tx_datapath 20 0>, <&axi_gpio_tx_datapath 21 0>, <&axi_gpio_tx_datapath 22 0>;
	
	gt_tx_rst_done-gpios = <&axi_reset_done_dyn 0 0>, <&axi_reset_done_dyn 1 0>, <&axi_reset_done_dyn 2 0>, <&axi_reset_done_dyn 3 0>, <&axi_reset_done_dyn 4 0>, <&axi_reset_done_dyn 5 0>, <&axi_reset_done_dyn 6 0>, <&axi_reset_done_dyn 7 0>,
	<&axi_reset_done_dyn 8 0>, <&axi_reset_done_dyn 9 0>, <&axi_reset_done_dyn 10 0>, <&axi_reset_done_dyn 11 0>, <&axi_reset_done_dyn 12 0>, <&axi_reset_done_dyn 13 0>, <&axi_reset_done_dyn 14 0>, <&axi_reset_done_dyn 15 0>,
	<&axi_reset_done_dyn 16 0>, <&axi_reset_done_dyn 17 0>, <&axi_reset_done_dyn 18 0>, <&axi_reset_done_dyn 19 0>, <&axi_reset_done_dyn 20 0>, <&axi_reset_done_dyn 21 0>, <&axi_reset_done_dyn 22 0>, <&axi_reset_done_dyn 23 0>;
	
	gt_rx_rst_done-gpios = <&axi_reset_done_dyn 24 0>, <&axi_reset_done_dyn 25 0>, <&axi_reset_done_dyn 26 0>, <&axi_reset_done_dyn 27 0>, <&axi_reset_done_dyn 28 0>, <&axi_reset_done_dyn 29 0>, <&axi_reset_done_dyn 30 0>, <&axi_reset_done_dyn 31 0>,
	<&axi_reset_done_dyn 32 0>, <&axi_reset_done_dyn 33 0>, <&axi_reset_done_dyn 34 0>, <&axi_reset_done_dyn 35 0>, <&axi_reset_done_dyn 36 0>, <&axi_reset_done_dyn 37 0>, <&axi_reset_done_dyn 38 0>, <&axi_reset_done_dyn 39 0>,
	<&axi_reset_done_dyn 40 0>, <&axi_reset_done_dyn 41 0>, <&axi_reset_done_dyn 42 0>, <&axi_reset_done_dyn 43 0>, <&axi_reset_done_dyn 44 0>, <&axi_reset_done_dyn 45 0>, <&axi_reset_done_dyn 46 0>, <&axi_reset_done_dyn 47 0>;
	
	gt_rsts-gpios = <&axi_resets_dyn 0 0>, <&axi_resets_dyn 1 0>, <&axi_resets_dyn 2 0>, <&axi_resets_dyn 3 0>, <&axi_resets_dyn 4 0>, <&axi_resets_dyn 5 0>, <&axi_resets_dyn 6 0>, <&axi_resets_dyn 7 0>,
	<&axi_resets_dyn 8 0>, <&axi_resets_dyn 9 0>, <&axi_resets_dyn 10 0>, <&axi_resets_dyn 11 0>, <&axi_resets_dyn 12 0>, <&axi_resets_dyn 13 0>;
	
	xlnx,gt-ch0-rx-user-data-width-c0 = <0x00000050>;
	xlnx,gt-mode-1 = "PAM4";
	xlnx,gt-ch0-rx-user-data-width-c1 = <0x00000050>;
	reg = <0x00000000 0xa4000000 0x00000000 0x00010000>;
	xlnx,name = "dcmac_100caui4_1588_core";
	clock-names = "rx_axi_clk", "rx_core_clk", "rx_flexif_clk", "rx_macif_clk", "s_axi_aclk", "ts_clk", "tx_axi_clk", "tx_core_clk", "tx_flexif_clk", "tx_macif_clk";
	xlnx,data-rate-cfg-0 = "100G";
	status = "okay";
	xlnx,edk-iptype = "PERIPHERAL";
	compatible = "xlnx,dcmac-2.4"; 
	xlnx,ip-name = "dcmac";
	clocks = <&misc_clk_0>, <&misc_clk_1>, <&misc_clk_1>, <&misc_clk_1>, <&versal_clk 65>, <&misc_clk_1>, <&misc_clk_0>, <&misc_clk_1>, <&misc_clk_1>, <&misc_clk_1>;
	xlnx,num-gt-channels = <0x00000004>;
	fixed-link {
		speed = <100000>;
		full-duplex;
	};

};

&dcmac_and_gt_dcmac_0_core_1 {
    compatible = "xlnx,dcmac-2.4";
    status = "disabled";

};

&dcmac_and_gt_dcmac_0_core_2 {
    compatible = "xlnx,dcmac-2.4";
    status = "disabled";

};
&dcmac_and_gt_dcmac_0_core_3 {
    compatible = "xlnx,dcmac-2.4";
    status = "disabled";

};

&dataflow_0_axi_mcdma_0 {
	 compatible = "xlnx,eth-dma";
     status = "okay";
     xlnx,include-dre;
	 xlnx,addrwidth = [20];
};




&i2c0 { /* PMC_MIO46/47 */

        /* U33 TCA9548A switch */
        tca9548@74 {
                compatible = "nxp,pca9548";
                #pinctrl-names = "default";
                #address-cells = <0x1>;
                #size-cells = <0x0>;
                reg = <0x74>;
                #i2c-mux-idle-disconnect;
      };

      /* U233 TCA6416A GPIO Exander */
      gpio@20 {
                compatible = "ti,tca6416, nxp,pca9505";
                reg = <0x20>;
                pinctrl-names = "default";
                gpio-controller;
    };
};
